@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ececec;
  --foreground: #262523;
  --foreground-light: #c7c7c7;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* スクロールバーを非表示にする */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* スムーズなドラッグスクロール用のスタイル */
.scrollbar-hide {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* iOS Safari */
}
